body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form#selection-form {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form#selection-form label,
form#selection-form select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form#selection-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form#selection-form button:hover {
    background-color: #0056b3;
}

#qol_data_type_container {
    display: none;
}

#visualization {
    width: 960px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    visibility: hidden; /* Initially hidden and will be made visible after scroll */
}

.visualization-container {
    width: 48%; /* Each container takes up almost half the width of the visualization area */
    height: 300px; /* Adjust the height based on your preference */
    margin-bottom: 20px; /* Adds space between the rows */
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center; 
    align-items: center;
}


#visualization > div {
    width: 48%; /* Each container takes up almost half the width of the visualization area */
    height: 300px; /* Adjust the height based on your preference */
    margin-bottom: 20px; /* Adds space between the rows */
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center; 
    align-items: center;
}

.legend-box { 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    position: absolute; 
    top: 0; 
    right: 0; 
    margin: 20px; 
    padding: 0; 
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.legend-box li { 
    margin: 0;
    padding: 5px;
    font-size: 0.9em; 
    color: #333;
}
h4 {
    text-align: center;
}

.instruction {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.instruction h4 {
    margin-bottom: 10px;
    text-align: center;
}

.instruction ul {
    list-style: none;
    padding: 0;
}

.instruction li {
    margin-bottom: 8px;
    line-height: 1.4;
    text-align: left;
    padding-left: 1.2em;
    text-indent: -1.2em;
}

.instruction li:before {
    content: "→ ";
    font-weight: bold;
    color: #007bff; /* Add a hint of color */
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #8C1D40; /* Consistent with the navbar color */
    color: #fff;
    font-size: 0.9em;
}

footer a {
    color: #FFC72C; /* Consistent with the navbar link color */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}