{% extends 'app/base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Data Visualization</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/data.css' %}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    {% load static %}
    <script type="text/javascript">
        var demographicsUrl = "{% url 'demographics' %}";
        var query_data = "{% url 'query_data' %}";
    </script>
    <script src="{% static 'js/data.js' %}"></script>
</head>
<body data-demographics-url="{% url 'demographics' %}">
    <div class="instruction">
        <h4>How does this work?</h4>
        <ul>
            <li><strong>Select the Year:</strong> Choose a year from the available options (1994 to 2014) in ten-year increments.</li>
            <li><strong>Choose a Town:</strong> Select the town for which you want to view data.</li>
            <li><strong>Choose a Data Type:</strong> Pick the type of data to view, such as Quality of Life (QOL) or Social Capital data.</li>
            <li><strong>Select Data Category:</strong> Choose the specific data category you want to visualize.</li>
            <li><strong>Select Demographic Category:</strong> Choose a category like Age, Income, Sex, Tenure, or 'All' for an overall view.</li>
            <li><strong>Visualize the data:</strong> Click "Visualize" to visualize the data in a bar graph.</li>
            <li><strong>Reset Options:</strong> You may reset your options by clicking on the "Reset Options" button. This will clear all your options and you select different values.</li>
        </ul>
    </div>
    <form id="selection-form" action="{% url 'query_data' %}" method="get">
        <label for="year">Select Year:</label>
        <select name="year" id="year">
            <option value=""></option>
            <option value="2014">2014</option>
            <option value="2004">2004</option>
            <option value="1994">1994</option>
        </select>

        <label for="town-search">Select Town:</label>
        <input type="text" id="town-search" placeholder="Type to search for a town">
        <select name="town" id="town" style="display: none;">
            <option value=""> </option>
            {% for town in towns %}
                <option value="{{ town }}">{{ town }}</option>
            {% endfor %}
        </select>

        <label for="data_type">Select Type of Data:</label>
        <select name="data_type" id="data_type">
            <option value=""> </option>
            {% for type in data_types %}
                <option value="{{ type.id }}">{{ type.name }}</option>
            {% endfor %}
        </select>

        <div id="qol_data_type_container" style="display: none;">
            <label for="qol_data_type">Select Quality of Life Category:</label>
            <select name="qol_data_type" id="qol_data_type">
                <option value=""> </option>
                <!-- Options will be dynamically loaded -->
            </select>
        </div>
        
        <div id="soc_data_type_container" style="display: none;">
            <label for="soc_data_type">Select Social Capital Category:</label>
            <select name="soc_data_type" id="soc_data_type">
                <option value=""> </option>
                <!-- Options will be dynamically loaded -->
            </select>
        </div>

        <label for="demographic">Select Demographic:</label>
        <select name="demographic" id="demographic">
            <option value=""> </option>
            {% for demo in demographics %}
                <option value="{{ demo }}">{{ demo }}</option>
            {% endfor %}
        </select>

        <div class="button-container">
            <button type="submit">Visualize</button>
            <button type="button" id="reset-form">Reset Options</button>
        </div>
    </form>

    <div id="qol-results">
        <!-- Queried data will be displayed here -->
    </div>
    
    <div id="visualization">
        <div id="barChartContainer"></div>
    </div>
    
    <!-- Script for html2canvas library -->
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</body>

<!-- <footer>
    Iowa State College of Agriculture and Life Sciences &nbsp; | &nbsp;
    <a href="{% url 'home'%}">Home</a> &nbsp; | &nbsp; <a href="{% url 'index'%}">ISTP Data</a> &nbsp; | &nbsp; <a href="#">About</a>
    <br>
    302 East Hall &nbsp; | &nbsp; Email: dpeters@iastate.edu
    <br>
    510 Farm House Lane &nbsp; | &nbsp; Phone: 515-294-6303
    <br>
    Ames, Iowa 50011-1054
</footer> -->

{% endblock %}
